.btn{
    margin: 15px;
}
#usernames{
    margin: 15px;
}
#sekil{
    width: 500px;
    height: 400px;
    margin-left: 730px;
}
#yazi{
    color: white;
}
#esas{
    margin-left: 700px;
}
#buttona{
    margin-left: 175px;
}